<div class="archive archive-list-item">
  <div class="header" data-id="header">
    <img data-id="avatar" src="" class="avatar" alt="" />
    <a class="title" data-id="title" href="javascript:void(0)" target="_blank">
    </a>
    <br />
    <span data-id="date" class="date"></span>
    <span data-id="sourceName" class="source-name"></span>
    <span data-id="shareInfo" class="share-info"></span>
  </div>
  <div class="content" data-id="content"> 
  </div>
  <div class="tool-bar">
    <span class="tool-button fa fa-check mark-as-unread" data-id="keepUnread">keep unread</span>
    <span class="tool-button fa fa-inbox read-later" data-id="readLater">read later</span>
    <span class="tool-button fa fa-heart like" data-id="like">like</span>
    <span class="tool-button fa fa-share share" data-id="share">share</span>
    <span class="tool-button fa fa-list list" data-id="list" data-text="listText">list</span>
  </div>
</div>
