<div class="subscribe-terminal" data-class="mode">
  <div class="accepter">
    <div class="title">
      Subscribe
    </div>
    <div class="detail">
      <p data-text="subscribeHint"></p>
    </div>
    <div class="choice"> 
      <button data-id="accept" class="">Subscribe</button>
      <button data-id="decline" class="">Ignore</button>
    </div>
  </div>
  <div class="failure">
    <div class="title">
      Failed
    </div>
    <div class="detail">
      <p data-text="failureHint"></p>
    </div>
    <div class="choice"> 
      <button data-id="retry" class="">Retry</button>
      <button data-id="cancel" class="">Cancel</button>
    </div>
  </div>
  <div class="authenticator">
    <div class="title">
      Authentication
    </div>
    <div class="detail">
      <p data-text="authHint"></p>
      <input type="text" name="" data-id="username" value="" placeholder="username" />
      <input type="password" name="" data-id="secret" value="" placeholder="service secret" />
    </div>
    <div class="choice">
      <button data-id="authorize" class="">Authorize</button>
      <button data-id="refuse" class="">No</button>
    </div>
  </div>
  <div class="hinter">
    <div class="title" data-text="hintTitle">
    </div>
    <div class="detail">
      <p data-text="hint"></p>
    </div>
  </div>
  <div class="waiter">
    <div class="title" data-text="waitTitle">
    </div>
    <div class="detail">
      <cube-loading-hint data-id="loadingHint" class="loading-hint white" hint="waiting..."></cube-loading-hint hint="waiting...">
    </div>
  </div>
</div>
