<div class="archive-list  fancy-scroll">
  <div class="title" data-id="title">
    <div class="wrapper">
      <span class="source-name" data-id="sourceName" ></span>
      <div class="source-option" data-id="source-option">
        <span class="action-button fa fa-eye" data-id="toggleViewAll">view all</span>
        <span class="action-button fa fa-magic" data-id="previewMode">preview mode</span>
        <span class="action-button fa fa-archive" data-id="markAllAsRead" >mark all as read</span>
      </div>
    </div>
    <div class="refresh-hint" data-id="refreshHint">
      <span class="text"> 
        <span>Updates detected, click to refresh.</span><i data-id="hideRefreshHint" class="fa fa-remove"></i>
      </span>
    </div>
  </div>
  <div class="container-wrapper ghost-scroll" data-id="containerWrapper">
    
    <widget data-widget="archiveListController"></widget>
    <div class="container" data-id="container">
    </div>
    <div class="place-holder" data-id="hint">
      <cube-loading-hint data-id="loadingHint" class="loading-hint" hint="Loading more archives"></cube-loading-hint>

      <div class="empty-hint" data-id="emptyHint">
        No unread items
      </div>
    </div>
  </div>
</div>
