<div class="archive archive-list-item ghost-scroll">
  <div class="header rich" data-id="header">
    <div class="headline"> 
      <smart-image data-id="avatar" class="avatar" alt=""></smart-image>
      <a class="title" data-id="title" href="javascript:void(0)" target="_blank">
      </a>
    </div>
    <div class="rich-information">
      <span data-id="date" class="date"></span>
      <span data-id="sourceName" class="source-name"></span>
      <span data-id="shareInfo" class="share-info"></span>
    </div>
  </div>
  <div class="content" data-id="content"> 
  </div>
  <div class="tool-bar">
    <div class="tool-button mark-as-unread" data-id="keepUnread"><i class="fa fa-check"></i><span>unread</span></div>
    <div class="tool-button read-later" data-id="readLater"><i class="fa fa-inbox"></i><span data-text="listName">read later</span></div>
    <div class="tool-button like" data-id="like"><i class="fa fa-heart"></i><span>like</span></div>
    <div class="tool-button share" data-id="share"><i class="fa fa-share"></i><span>share</span></div>
    <div class="tool-button list" data-id="list"><i class="fa fa-list"></i><span data-text="listText">list</span></div>
  </div>
</div>
