.authed-node-list {
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 0 0 8px 0 black;
}
.authed-node-list ul {
  padding: 0;
  margin: 0;
}
.authed-node-list li {
  padding: 5px 20px;
  cursor: pointer;
  list-style: none;
}
.authed-node-list li .icon {
  text-shadow: 0px 0px 6px orange;
}
.authed-node-list li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
