@import "list-side-controller.less";
.archive-list{
    .box-sizing;
    height:100%;
    overflow:hidden;
    .flex;
    .loading-hint{
        display:none;
        margin:50px auto;
        width:220px;
    }
    .empty-hint{
	text-align:center;
	padding:50px;
	.box-sizing;
        color:#777;
    }
    .place-holder{
	height:70%;
    }
    .container-wrapper{
        width:100%;
        height:100%;
        overflow:auto;
        position:relative;
        margin-top:45px;
        .container{
	    width:100%;
        }
    }
    &.preview-mode{
        .archive-list-item > *{
            display:none;
        }
        .archive-list-item .header{
            display:block
        }
        .archive-list-item .title{
            pointer-events:none;
        }
        .archive-list-item.collapse .title{
            pointer-events:auto;
        }
        .archive-list-item.collapse > *{
            display:block;
        }
    }
    .archive-list-item{
	width:100%;
	.box-sizing;
	padding:20px 80px 15px;
	border-bottom:1px solid @clear-grey;
        .archive;
        .mark-as-unread:before{
            text-shadow:1px 1px #eee;
        }
        @unread-color:#aaa;
        @focus-shadow-pos:4px;
        @unread-shadow-pos:-4px;
        box-shadow:inset @unread-shadow-pos 0 0 0 @unread-color,inset @focus-shadow-pos 0 0 0 @unread-color;
        &.read{
            box-shadow:none;
        }
        &.focus{
            box-shadow:inset @focus-shadow-pos 0 0 0 #3BE,inset @unread-shadow-pos 0 0 0 @unread-color;
        }
        &.focus.read{
            box-shadow:inset @focus-shadow-pos 0 0 0 #3BE;
        }
        .header .mark-as-unread:hover{
            color:@comfortable-black;
        }
        &.lock-read .mark-as-unread{
            color:@comfortable-black;
        }
    }
    .archive-list-controller{
        .list-side-controller;
    }
}
