<div class="setting-panel">
  <div class="wrapper">
    <div class="groups">
      <h3>Settings</h3>
      <div class="setting-groups" data-id="settingGroups">
      </div>
      
      <button data-id="cancelButton" class="button">cancel</button>
    </div>
    <div class="entrys">
      <h3 data-id="groupTitle" ></h3>
      <div class="setting-entrys" data-id="settingEntrys">
      </div>
      <button data-id="applyButton" class="button">apply</button>
      <button data-id="resetButton" class="button">reset</button>
    </div>
  </div>
</div>
