<div class="add-source-popup">
  <div class="input-area">
    <textarea type="text"  data-id="input" value="" placeholder="paste your source URI here"></textarea>
    <button data-id="submit">add</button>
    <button data-id="cancel">cancel</button>
  </div>
</div>
<!--div class="add-source-popup">
    <div class="input-area">
      
      <textarea type="text"  data-id="input" value="" placeholder="paste your source URI here"></textarea>
      <button data-id="submit">add</button>
      <button data-id="cancel">cancel</button>
    </div>
    <div data-id="terminal" class="terminal">
      
    </div>
</div-->
