<div class="archive-list  fancy-scroll">
  <div class="title" data-id="title">
    <div class="wrapper">
      <a class="source-name" data-id="sourceName" ></a>
      <div class="source-option" data-id="source-option">
        <span class="action-button fa fa-eye" data-id="toggleViewAll">view all</span>
        <span class="action-button fa fa-magic" data-id="previewMode">preview mode</span>
        <span class="action-button fa fa-archive" data-id="markAllAsRead" >mark all as read</span>
      </div>
    </div>
  </div>
  <!--div class="info">
    <div class="wrapper">
      <div class="action">
        <span class="action-button" data-id="fullMode">full outout</span>
        <span class="action-button" data-id="sortBySybil">sort by sybil</span>
        <span class="action-button" data-id="sortByDate">sort by date</span>
      </div>
      <div class="detail">
        <span class="current-archive-title" data-id="currentArchiveTitle"></span>
      </div>
    </div>
  </div-->
  <div class="container-wrapper" data-id="containerWrapper">
    <div class="container" data-id="container">
    </div>
    <div class="place-holder">
      <div class="loading-hint" data-id="loadingHint">
        <div class="box" id="box">
          <div class="face face-left">
          </div>
          <div class="face face-right">
          </div>
          <div class="face face-top">
          </div>
          <div class="face face-bottom">
          </div>
          <div class="face face-front">
          </div>
          <div class="face face-back">
          </div>
        </div>
        <div class="text">
          
          Loading more archives
        </div>
      </div>
      <div class="empty-hint" data-id="emptyHint">
        No unread items
      </div>
    </div>
  </div>
</div>
