<div class="custom-group-item custom-list-item">
  <div class="name-container">
    <i data-id="folderIcon" class="fa fa-folder-o clickable"></i><span class="name" data-id="name"></span><span class="edit-toggler" data-id="edit-toggler"></span>
    <input type="text" data-id="nameInput" value="" placeholder="" />
  </div>
  <div class="actions" data-id="actions">
    <span class="list-button clickable" data-id="addSource">add source</span>
    <span class="list-button clickable" data-id="addTag">add tag</span>
    <span class="list-button clickable" data-id="removeGroup">remove group</span>
    
  </div>
  <div class="container" data-id="container">
  </div>
</div>
