<div class="search-list fancy-scroll">
  <div class="header">
    <input type="text" data-id="searchKeywordInput" value="" placeholder="eg:nodejs memory leak" />
    
    <button data-id="searchButton" class="button icon fa fa-search">search</button>
  </div>
  <div class="result-list  fancy-scroll" data-id="resultList">
  </div>
  <cube-loading-hint data-id="loadingHint" class="loading-hint" hint="loading"></cube-loading-hint>


  <div class="no-more-hint" data-id="noMoreHint">
    No more result.
  </div>
</div>
