<div class="source-list fancy-scroll">
  <div class="actions">
    
    <div class="add-source-button clickable" data-id="addSourceButton">
      <span class="fa fa-plus clickable"></span>
      <span>Add source</span>
    </div>
    <div class="add-folder-button clickable" data-id="addFolderButton">
      <span class="fa fa-folder clickable"></span>
      <span>Add Folder</span>
    </div>
  </div>
  <div data-id="cursor" class="cursor">
  </div>
  <div  class="container" data-id="container">
  </div>
  <!--widget data-widget="sourceDetailPanel"></widget-->
</div>
