<div class="source-detail">
  <div class="title">Source Detail</div>
  <button data-id="close" class="close-button">close</button>
  <div class="content">
    <div class="item-title">
      Name:
    </div>
    <div class="item-content"> 
      <span data-id="name"> </span> <span class="fa fa-edit icon clickable" data-id="nameEditButton"></span>
    </div>
    <div class="item-title">
      Source Uri:
    </div>
    <div class="item-content">
      <span data-id="type" class="source-type"></span>
      <a data-id="uri" target="_blank"></a>
    </div>
    <div class="item-title">
      Description:
    </div>
    <div data-id="description" class="item-content">
      <span data-id="descriptionContent"> </span><span data-id="descriptionEditButton" class="fa fa-edit icon clickable"></span>
    </div>
    <div data-id="descriptionEditor"  class="item-content description-editor" >
      <textarea data-id="descriptionInput"></textarea>
      <button data-id="submitDescriptionButton" class="button">OK</button>
      <button data-id="cancelDescriptionButton" class="button">Never mind</button>
    </div>
    <div class="item-title">
      Unread/Total:
    </div>
    <div data-id="archives" class="item-content">
      ?/?
    </div>
    <div class="item-title">
      Frequency:
    </div>
    <div data-id="frequency" class="item-content">
    </div>
    <div class="item-title">
      Last error:
    </div>
    <div data-text="errorDescription" class="item-content">
    </div>
    
    <div class="item-title">
      Last updates:
    </div>
    <div  class="item-content">
      <span data-text="lastUpdate"></span><span data-id="forceUpdateButton" data-class="refreshStyle" class="fa fa-refresh icon clickable"></span>
    </div>
    <div class="item-title">
      Last fetch:
    </div>
    <div data-text="lastFetch" class="item-content">
    </div>
    <div class="item-title">
      Fetch Interval:
    </div>
    <div data-text="fetchInterval" class="item-content">
    </div>

    <div class="item-title">
      Statistics:
    </div>
    <widget data-widget="sourceStatistic"></widget>
    
  </div>
</div>
