<div class="source-detail">
  <div class="item-title">
    Name:
  </div>
  <div> 
    <div data-id="name">
    </div>
    <span class="edit-button" data-id="nameEditButton">edit</span>
  </div>
  <div class="item-title">
    Source Uri:
  </div>
  <div class="item-title">
    Description:
  </div>
  <div data-id="description">
    <div data-id="descriptionContent">
    </div>
    <div data-id="descriptionEditButton">
      
    </div>
  </div> 
  <div data-id="descriptionEditor" >
    <textarea data-id="descriptionInput"></textarea>
    <button data-id="submitDescriptionButton" class=""></button>
  </div>
  <div data-id="uri">
  </div>
  <div class="item-title">
    Source Type:
  </div>
  <div data-id="type">
  </div>
  <div class="item-title">
    Unread/Total:
  </div>
  <div data-id="archives">
    ?/?
  </div>
  <div class="item-title">
    Frequency:
  </div>
  <div data-id="frequency">
  </div>
  <div class="item-title">
    Statistics:

  </div>
  <widget data-widget="sourceStatistic"></widget>

  <button data-id="close" class="button">close</button>
</div>
