<div class="source-detail-panel">
  <div class="name" data-id="name"></div>
  <div class="last-update" data-id="lastUpdate"> 
  </div>
  <div class="tag-container-wrapper">
    tags:
    <div class="tag-container" data-id="tagContainer"></div>
  </div>
  <div class="tag-add-actions" data-id="tagAddActions"> 
    <input type="text" data-id="addTagInput" class="add-tag-input" placeholder="your tag please" />
    <span class="icon-ok clickable" data-id="confirmAddTag"></span>
    <span class="icon-remove clickable" data-id="cancelAddTag"></span>
  </div>
  <span class="icon-plus-sign clickable" data-id="addTag">Add tag</span>

</div>
