<div class="terminal" data-class="mode">
  <div class="accepter">
    <div class="title" data-id="title">
      Subscribe
    </div>
    <div class="detail">
      <p data-text="subscribeHint"></p>
    </div>
    <div class="choice"> 
      <button data-id="accept" class="">Subscribe</button>
      <button data-id="decline" class="">Ignore</button>
    </div>
  </div>
  <div class="authenticator">
    <div class="title" data-id="title">
      Authentication
    </div>
    <div class="detail">
      <p data-text="authHint"></p>
      <input type="text" name="" data-id="username" value="" placeholder="username" />
      <input type="password" name="" data-id="secret" value="" placeholder="service secret" />
    </div>
    <div class="choice">
      <button data-id="authorize" class="">authorize</button>
      <button data-id="refuse" class="">refuse</button>
    </div>
  </div>
  <div class="hinter" data-text="hint">
  </div>
</div>
