<div class="archive-list">
  <div class="info">
    <div class="wrapper">
      <div class="action">
        <span class="action-button" data-id="viewAll">view all</span>
        <span class="action-button" data-id="viewUnread">view unread</span>
        <span class="action-button" data-id="sortBySybil">sort by sybil</span>
        <span class="action-button" data-id="sortByDate">sort by date</span>
      </div>
      <div class="detail">
        <span class="current-archive-title" data-id="currentArchiveTitle"></span>
      </div>
    </div>
  </div>
  <div class="empty-hint" data-id="emptyHint">
    No unread items
  </div>
  <div class="container" data-id="container">
  </div>
  <div class="place-holder">
  </div>
</div>
