@import "./html5reset.less";
@import "./css3function.less";
@import "./colors.less";
@import "./common.less";
@import "./font-awesome.less"; 
@import "./animation.less";
@import "./widget/smart-image.less";
@hint-color:#3BE;
html,body{
    background-color:#ddd;
    color:#444; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body,html{
    width:100%;
    height:100%;
    overflow:hidden;
}
html *{
    .box-sizing;
}
@header-height:44px;
.view-switcher{
    width:100%;
    height:@header-height;
    background-color:#303030;
    border-bottom:1px solid #2a2a2a;
    position:fixed;
    z-index:1000;
    .button{
        border:none;
        box-shadow:none;
        font-size:24px;
        line-height:@header-height;
        float:right;
        color:#ddd;
        padding:0 10px;
        margin:0;
    }
    .option{
        width:200px;
        .box-sizing;
        padding-left:8px;
        float:left;
        color:white;
        line-height:@header-height;
        .icon{
            padding:0 2px 0 8px;
            display:block;
            float:left;
            height:@header-height;
            line-height:@header-height;
            width:20px;
            text-align:center;
        }
        span{
            color:#ddd;
            display:block;
            float:left;
            vertical-align:middle;
        }
        .title{
            padding-left: 10px;
        }
    }
    .view-selector{
        position:absolute;
        top:@header-height;
        left:0;
        width:300px;
        height:auto;
        overflow:hidden;
        border-radius:0 0 5px 0;
        transform: translateX(-240px);
        opacity:0;
        pointer-events:none;
        &.show{
            transform: translateX(0);
            opacity:1;
            pointer-events:auto;
        }
        .transition(all,300ms);
        .light-shadow;
        li{
            .clickable;
            color:#ddd;
            background-color:#303030;
            width:100%;
            list-style:none;
            height:@header-height;
            display:block;
            line-height:@header-height;
            border-bottom:1px solid #2a2a2a;
            border-top:1px solid #353535;
            padding-left:30px;
            &:hover{
                box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.5);
                border-top:1px solid #333;
            }
        }
    }
    
}
.view{
    .box-sizing;
    padding-top:@header-height;
    height:100%;
    width:100%;
    
}
.left-list{
    min-width:250px;
    max-width:400px;
    width:30%;
    height:100%;
}
@import "./widget/archive-list.less";
@import "./view/source-view.less";
@import "./view/search-view.less";
@import "./view/list-view.less";

.p2p-view{
    width:100%;
    height:100%;
    overflow:hidden;
    .debug-info{
        text-align:center;
        position:absolute;
        width:100%;
        top:0;
        left:0;
        display:none;
    }
    .flex-row;
    .p2p-list{
        max-width:360px;
        min-width:180px;
        background-color:@color-dark-bg;
        color:@color-font-normal-white;
        border-right:1px solid @color-dark-bg-shadow;
        .p2p-node-list-item{
            height:24px;
            padding:3px 5px;
            margin:2px;
            .clickable;
            img{
                display:block;
                float:left;
                padding-right:4px;
            }
            .nickname{
                
            }
            &.select{
                color:white;
                background-color:@comfortable-black;
                box-shadow:inset 0 0 4px 0 rgba(0,0,0,0.3);
                
            }

        }
    }
    .p2p-info-displayer{
        height:100%;
    }
    .p2p-node-info-displayer{
        .flex-row;
        width:100%;
        height:100%;
        overflow:hidden;
        .info{
            overflow:hidden;
            max-width:480px;
            min-width:240px;
            height:100%;
            background-color:@color-dark-bg;
            .box-sizing;
            padding:10px 20px;
            color:@color-font-normal-white;
            .avatar{
                padding:5px;
                border-radius:4px;
                background-color:white;
                box-shadow:0 0 4px 0 rgba(0,0,0,0.7);
                width:82px;
                height:82px;
            }
            .nickname,.email,.publickey,.status{
                padding-top:5px;
                padding-left:5px;
            }
            
            .publickey{
                word-wrap:break-word;
		text-overflow:ellipsis;
		white-space:nowrap;
                overflow:hidden;
            }
        }
        .archive-list{
            width:100%;
            height:100%;
            overflow:auto;
            display:block;
        }
    }
}
.custom-view{
    .flex-row;
    height:100%;
    width:100%;
    .list-button{
        display:block;
    }
    .custom-source-list{
        .left-list;
    }
    @list-indent-width:20px;
    .selector{
        display:block;
        padding-left:@list-indent-width;
    }
    .list-button{
        display:block;
        width:100%;
        .clickable;
        margin-top:1px;
        padding-left:@list-indent-width;
        background-color:@dark-white;
        color:@comfortable-black;
    }
    .action{
        display:block;
    }
    .container{
        .custom-list-item{
            .clickable;
            .name{
                margin-left:3px;
            }
            padding-left:@list-indent-width; 
        }
        .custom-group-item{
            .name-container{
                .name,input{
                    margin-left:3px;
                }
            }
            input{
                display:none;
            }
            .actions{
                display:none;
            }
            .container{
                display:none;
            }
        }
    }
}






.add-source-popup{
    @width:500px;
    z-index:1001;
    width:100%;
    height:100%; 
    position:absolute;
    background-color:rgba(0,0,0,0.8);
    right:0;
    bottom:0;
    padding:10px;
    .flex;
    justify-content:center;
    align-items:center;
    button{
        background-color:white;
        .clickable;
        color:@comfortable-black;
        border:none;
        border-radius:2px;
        height:24px;
        padding:5px;
        text-align:center;
        min-width:80px;
        &:hover{
            text-shadow:0 0 1px rgba(0,0,0,0.3);
        }
    }
    &.monitor-mode{
        .transition(all,100ms);
        width:300px;
        height:200px;
        right:0px;
        bottom:0px;
        .input-area{
            display:none;
            
        }
        .terminal{
            width:100%;
            height:100%;
        }
    }
    
    .input-area{
        max-height:90%;
        min-height:140px;
        height:250px;
        width:800px;
        max-width:90%;
        textarea{
            border:none;
            width:100%;
            height:80%;
            padding:20px;
            .box-sizing;
            box-shadow:inset 0 0 4px 0 rgba(0,0,0,0.5);
            background-color:rgba(0,0,0,0.7);
            color:white;
        }
        button{
            margin-top:15px;
            margin-right:10px;
        }
    }
    

}

.popup{
    border-radius:4px;
    padding:5px 0;
    position:absolute;
    background-color:rgba(255,255,255,0.9);
    .light-shadow;
    color:@comfortable-black;
    .transition(background-color,10000ms);
    &:hover{
        .transition(all,300ms);
        background-color:rgba(255,255,255,1);
    }
}
.popup-menu{
    border-radius:4px;
    padding:5px 0;
    position:absolute;
    background-color:rgba(255,255,255,0.9);
    .light-shadow;
    color:@comfortable-black;
    .transition(background-color,10000ms);
    &:hover{
        .transition(all,300ms);
        background-color:rgba(255,255,255,1);
    }
}
.popup-window{
    position:absolute;
    background-color:@color-dark-bg;
    color:@color-font-normal-white;
    overflow:hidden;
    .light-shadow;
    .close-button{
        position:absolute;
        top:8px;
        right:14px;
        border:none;
        border-radius:5px;
        .clickable;
    }
    .title{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        background-color:#303030;
        padding:10px;
        text-align:center;
    }
    .content{
        padding:20px;
        padding-top:50px;
        .box-sizing;
        height:100%;
        width:100%;
        overflow:auto;
    }
}
.context-menu{
    width:180px;
    z-index:9999999999;
    .popup-menu;
    .context-menu-item{
        width:100%;
        padding:.2em 1.5em;
        .clickable;
        .box-sizing;
        &:hover{
            background-color:#444;
            color:white;
        }
    }
}
.archive{
    position:relative;
    &.rich .rich-information{
        display:block;
    }
    .rich-information{
        display:none;
    }
    .header{
	padding:0px 20px;
        .box-sizing;
        
    }
    .headline{
        height:32px;
        width:100%;
        overflow:hidden;
        word-wrap:nowrap;
        white-space:nowrap;
        padding:2px 0 4px;
        box-sizing:content-box;
        margin-bottom:5px;
    }
    .avatar{
        &.show{
            display:block;
        }
        display:none;
        height:32px;
        width:32px;
        overflow:hidden;
        float:left;
        border-radius:100px;
        box-shadow:0 0 0 1px rgba(0,0,0,0.3);
        vertical-align:sub;
        margin-right:8px;
    }
    .title{
        .clickable;
        .has-select;
	font-size:24px;
	line-height:32px;
	color:@comfortable-black;
	text-decoration:none;
        float:left;
        display:block;
    }
    .date,.source-name,.action-button,.share-info{
	color:@clear-grey;
	padding-right:20px;
	padding-bottom:20px;
    }
    .share-info{
        img{
            margin-right:5px;
        }
    }
    .action-button{
        .clickable;
    }
    .content{
	overflow:hidden;
	line-height:30px;
	font-size:16px;
	padding:0 20px 10px;
	max-width:900px; 
        .readable;
	a{
	    color:grey;
	    text-decoration:none;
	    &:hover{
		text-decoration:underline;
	    }
	}
	p{
	    padding:0.6em 0;
	}
        ul{
            li{
                list-style:none;
                padding-left:16px;
                border-left:4px solid #555;
                margin-bottom:1px;
            }
        }
        ol li{
            list-style-position:inside;
        }
        img{
            max-width:80%;
            border-radius:6px;
            box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
            padding:8px;
            text-align:center;
            margin:10px auto;
            display:block;
            background-color:white;
        }
        [alt='Fork me on GitHub']{
            border:none;
            background-color:rgba(0,0,0,0);
            box-shadow:none;
            position:absolute;
            top:0;
            right:0;
            padding:0;
            margin:0;
        }
    }
    .tool-bar{
        padding-left:20px;
	.tool-button{
            display:inline-block;
            overflow:hidden;
	    .clickable; 
	    color:@clear-grey;
	    padding:1px 8px 1px 0;
            i{
                padding-right:6px;
                text-shadow:1px 1px #eee;
            }
            line-height:28px;
	    &:hover{
		color:@hint-color; 
	    }
	    &.active{
		color:@comfortable-black;
	    }
	}
        .like,.share{
            display:none;
        }
    }

}

.fancy-scroll{
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    ::-webkit-scrollbar-track {
        background-color:rgba(0,0,0,0.05);
        box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.3);
        border-radius:1px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 1px;
        
        background-color: rgba(0,0,0,0.3); 
    }
}
.ghost-scroll{
    ::-webkit-scrollbar {
        width:0px;
    }
    ::-webkit-scrollbar-track {
        background-color:rgba(0,0,0,0.0);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0);
    }
}
cube-loading-hint{
    .perspective(2000px);
    display:block;
    @size:20px;
    .text{
        display:block;
        overflow:hidden;
        padding:0;
        text-align:center;
    }
    .box {
        .animation(turn 6s infinite);
        float:left;
        position: relative;
        width: @size;
        height: @size;
        .transform-style(preserve-3d);
        .transform(rotate3d(0, 0, 0, 0deg));
    }
    .box .face {
        opacity: 1;
        box-sizing: border-box;
        box-shadow: inset 0 0 @size/10 @size/30 rgba(0, 0, 0, 0.6);
        border: 0.5px solid #888;
        background-color: rgba(0, 0, 0, 0.01);
        width: @size;
        height: @size;
        position: absolute;
    }
    &.white .box .face{
        box-shadow: inset 0 0 @size/10 @size/30 rgba(255, 255, 255, 0.35);
        border: 0.5px solid #eee;
        background-color: rgba(255, 255, 255, 0.05);
    }
    &.white .text{
        color:#ddd;
    }
    .box .face-left {
        .transform(rotateY(90deg) translateZ(-(@size/2)));
    }
    .box .face-right {
        .transform(rotateY(-90deg) translateZ(-(@size/2)));
    }
    .box .face-top {
        .transform(rotateX(90deg) translateZ(-(@size/2)));
    }
    .box .face-bottom {
        .transform(rotateX(-90deg) translateZ(-(@size/2)));
    }
    .box .face-front {
        .transform(rotateX(0deg) translateZ(-(@size/2)));
    }
    .box .face-back {
        .transform(rotateX(180deg) translateZ(-(@size/2)));
    }


}

@turn:{
    0% {
        .transform(rotate3d(0, 0, 0, 0deg));
    }
    25% {
        
        .transform(rotate3d(0, 1, 1, 180deg));
    }
    50% {
        .transform(rotate3d(1, 1, 0, 0deg));
    }
    70% {
        .transform(rotate3d(1, 0, 1, 180deg));
    }
    100% {
        .transform(rotate3d(0, 0, 0, 0deg));
    }
};
.keyframes(turn,@turn);
.reading-content{
    p{
    }
}
.offline-hinter{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
    background-color:rgba(0,0,0,0);
    z-index:1002;
    .transition(opacity,1000ms);
    mix-blend-mode: darken;
    .loading-hint{
        
        color:#444;
        position:absolute;
        text-align:center;
        display:block;
        left:50%;
        bottom:50px;
        width:200px;
        margin:10px -100px;
    }
    opacity:0;
    &.show{
        background-color:rgba(0,0,0,0.5);
        opacity:1;
    }
}

.source-detail{
    .popup-window;
    z-index:1001;
    width:80%;
    max-height:80%;
    height:1000px;
    left:0;
    top:0;
    a{
        color:@color-font-normal-white;
        text-decoration:none;
        &:hover{
            text-decoration:underline;
        }
    }
    .readable;
    .source-type{
        padding:2px 4px;
        border-radius:2px;
        background-color:#999;
        margin-right:3px;
        color:#444;
    }
    .item-content{
        padding-left:20px;
    }
    .description-editor{
        width:100%;
        min-height:100px;
        textarea{
            display:block;
        }
    }
    textarea{
        width:80%;
        min-height:80px;
        padding:10px;
    }
    canvas{
        width:100%;
        height:150px;
        border-bottom:1px solid #888;
        margin-top:20px;
    }
    .item-title{
        margin-top:20px;
        margin-bottom:10px;
        font-weight:800;
    }
}

.setting-panel{
    .popup;
    width:80%;
    min-height:60%;
    overflow:auto;
    z-index:1001;
    top:0;
    left:0;
    display:none;
    .wrapper{
        padding:30px;
        .flex-row;
    }
    .groups{
        h3{
            margin-bottom:14px;
        }
        min-width:200px;
        padding:10px;
        border-right:1px solid #ddd;
        .group{
            color:#aaa;
            .clickable;
            padding:4px 0;
            &.active{
                color:#444;
            }
        } 
    }
    .entrys{
        padding:10px 10px 10px 20px;
        h3{
            padding-bottom:15px;
        }
        .entry{
            width:100%;
            padding-bottom:8px;
            .error{
                color:red;
            }
            label{
                display:block;
                float:left;
                overflow:hidden;
                min-width:80px;
                line-height:24px;
                padding-right:20px;
            }
            input{
                border:1px solid #ddd;
                box-shadow:none;
                padding:2px 6px;
            }
            
        }
    }
}
.archive-displayer-list-selector{
    background-color:white;
    color:black;
    padding:10px;
    border-radius:5px;
    .light-shadow;
    .close-button{
        display:none;
    }
    ul{
        li{
            list-style:none;
            padding:5px; 
            .clickable;
            &:hover{
                text-decoration:underline;
            }
        }
    }
}
.no-interaction{
    pointer-events:none;
}


.landing{
    background-color:#303030;
    display:table;
    position:absolute;
    z-index:10000;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-align:center;
    @landing-image-width:378px;
    @landing-image-height:490px;
    .transition(all,300ms);
    &.hide{
        .transform-scale(1.5,1.5,1);
        opacity:0;
    }
    .middle{
        display:table-cell;
        color:#999;
        text-align:center;
        vertical-align:middle;
        .center{
            width:@landing-image-width;
            height:@landing-image-height;
            margin:0 auto;
            position:relative;
            img{
                .transform-scale(0.5,0.5,1);
                position:absolute; 
                left:0;
                top:0;
                
            }
            img.light{
                opacity:0.2;
            }
            
        }
    }
    &.active img.light{
        .animation(blink 4s infinite);
    }
}                    

@import "./widget/hint-stack.less";
.stack-terminal{
    
    .hint-stack-item;
    .title{
        text-align:center;
        padding:10px;
    }
    .choice{
        .flex-row;
        .flex-wrap;
        justify-content:space-around;
        button{
            width:100px;
            border:none;
            background:white;
            margin:15px;
            padding:5px 5px;
        }
    }
    .detail{
        background-color:#303030;
        padding:10px;
        box-shadow:inset 0 0 8px 0 #222;
    }
    input,button{
        display:block;
    }
    p{
        margin:5% auto;
        width:90%;
        display:block;
        line-height:20px;
    }
    input{
        width:90%;
        margin:16px auto;
        padding:8px 8px;
        border:none;
    }
    
}
.source-authorize-terminal{
    .stack-terminal;
    .hinter{
        padding:5px;
        background-color:#333;
        
    }
}

.subscribe-terminal{
    .hint-stack-item;
    .stack-terminal;
    &>div{
        display:none;
    }
    &.accepter .accepter
    ,&.authenticator .authenticator
    ,&.hinter .hinter
    ,&.waiter .waiter
    ,&.failure .failure {
        display:block;
    }
    .waiter .loading-hint,.hinter p{
        width:80%;
        display:block;
        padding:5px;
        margin:2px auto;
    }
    .authenticator,.accepter,.failure{
        
    }
}
.subscribe-assistant{
    .hint-stack-item;
    padding:10px;
}

.toaster{
    position:absolute;
    bottom:20px;
    width:100%;
    height:32px;
    opacity:0;
    pointer-events:none;
    &.show{
        opacity:1;
    }
    .transition(opacity,600ms);
    .flex;
    align-items:center;
    justify-content:center;
    .content{
        margin:0 auto;
        border-radius:4px;
        background-color:rgba(0,0,0,0.7);
        color:white;
        display:inline-block;
        text-align:center;
        padding:8px 12px;
    }
}