<div class="list-side-controller" data-class="showOption:show-option">
  <div data-id="previous" class="fa fa-angle-up tab-button">
  </div>
  <div data-id="clear" class="tab-button option" data-class="cleared:active">
    <i class="fa fa-check"></i>
  </div>
  <!--div data-id="like" class="tab-button option" data-class="liked:active">
    <i class="fa fa-heart"></i>
  </div>
  <div data-id="share" class="tab-button option" data-class="shared:active">
    <i class="fa fa-share"></i>
  </div-->
  <div data-id="goBottom" class="tab-button option" data-class="active">
    <i class="fa fa-level-down"></i>
  </div>
  <div data-id="expandOption" class="tab-button middle" data-class="showOption:active">
    <i class="fa fa-cube"></i>
  </div>
  <div data-id="next" class="fa fa-angle-down tab-button">
  </div>
</div>
