<article class="feedItem_small feedItem" >
	<header data-id="header">
		<button data-id="likeBtn" title="收藏" class="likeBtn"><i class="icon-star-empty" ></i></button>
		<button data-id="shareBtn" title="分享" class="shareBtn"><i class="icon-share" ></i></button>
		<h6 data-id="title">标题</h6>
		<p data-id="summary" class="" >内容摘要</p>
		<div data-id="timeBox" class="timeBox" >
			<p data-id="time" class="time" >上午12:00(20分钟前)</p>
		</div>
	</header>
	<div id="contentBox" data-id="contentBox" >
		<div class="titleBox" data-id="contentTitle" >
			<a class="feedTitle" data-id="feedTitle" >标题</a>
			<button class="shareBtn" data-id="feedShareBtn" >分享</button>
		</div>
		<p class="content" data-id="content" > 这里是订阅的内容</p>
	</div>
</article>
