<article class="feedItem_normal feedItem" >
	<div class="titleBox" data-id="titleBx" >
		<a class="feedTitle" data-id="feedTitle" >标题</a>
		<button title="分享" class="shareBtn" data-id="shareBtn" >
			<i class="icon-share" data-id="i" ></i>
		</button>
		<button title="收藏" class="likeBtn" data-id="likeBtn" >
			<i class="icon-star-empty" data-id="i" ></i>
		</button>
	</div>
	<div class="timeBox" data-id="timeBox" >
		<p class="time" data-id="time" >上午12:00(20分钟前)</p>
	</div>
	<p class="author" data-id="author" >作者</p>
	<p class="content" data-id="content" > 这里是订阅的内容</p>
</article>
